@mixin ratioparent {
  position: relative;
  height: 0;
  padding-top: 40%;
  overflow: hidden;
}

@mixin ratiochild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#test {
  * {
    box-sizing: border-box;
  }

  .container {
    position: relative;
    display: flex;
    margin: auto;

    &_top {
      @include ratioparent;

      display: flex;
      flex-wrap: nowrap;

      .inner {
        @include ratiochild;
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &_bot {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #333;
    height: 100%;
    width: 100%;
    max-width: 60px;

    .item {
      border: 2px solid #ea8;
      padding: 4px;
      overflow: hidden; //replace with word-wrap stuff!
      min-width: 60px;

      // height: 100%; assumes every button will take full height
      // for example, comment out all but 1 button (or 2) :O
      height: 100%;
    }
  }

  .right {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background: #555;
    width: 100%;
    height: 100%;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 2px solid;

      width: 25%; //replace this with your js calcs based on # of cards
    }
  }

  .spacer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #606;
    max-width: 60px;
    height: auto;

    &:after {
      content: "";
    }

    .spacer-child {
      min-width: 60px;
    }
  }

  .text {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background: #555;
    height: auto;
    width: 100%;
    margin-bottom: auto;

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 2px solid;

      width: 25%; //replace this with your js calcs
    }
  }
}
