/**
 * Colors
 */

// B+W
$c-white: #fff;
$c-black: #000;

// Base
$c-dark: #2a2a2a;
$c-light: #f0f0f0;

// Theme
$t-default-dark: #2c363f;
$t-default-pink: #e75a7c;
$t-default-light: #f2f5ea;
$t-default-gray: #d6dbd2;
$t-default-green: #bbc7a4;
