@mixin contain-base {
  display: block;
  position: relative;
  margin: 0 auto;
}

@mixin contain {
  @include contain-base;
  max-width: em-calc($container-default);
}

@mixin contain-sm {
  @include contain-base;
  max-width: em-calc($container-sm);
}

@mixin contain-lg {
  @include contain-base;
  max-width: em-calc($container-lg);
}
