@mixin contain-base {
  display: block;
  position: relative;
  margin: 0 auto;
}

@mixin contain {
  @include contain-base;
  max-width: em-calc($container-default);

  @media (max-width: em-calc(1080px)) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@mixin contain-sm {
  @include contain-base;
  max-width: em-calc($container-sm);
}

@mixin contain-lg {
  @include contain-base;
  max-width: em-calc($container-lg);
}
