<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.options.pageHead %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body id="test">
    <%= htmlWebpackPlugin.options.pageNav %>
    <main>
      <div class="space" style="margin-bottom: 25px"></div>

      <div class="container_top">
        <div class="inner">
          <div class="left">
            <div class="item">i</div>
            <div class="item">item</div>
            <div class="item">item 222</div>
            <div class="item">item 9999 99 99 9 9</div>
            <div class="item">itemsss</div>
            <div class="item">item another one</div>
            <div class="item">item 9999 99 99 9 9</div>
            <div class="item">itemsss</div>
            <div class="item">item another one</div>
          </div>
          <div class="right">
            <div class="card">card</div>
            <div class="card">card</div>
            <div class="card">card</div>
            <div class="card">card</div>
          </div>
        </div>
      </div>
      <div class="container_bot">
        <div class="spacer">
          <div class="spacer-child"></div>
        </div>
        <div class="text">
          <div class="item">
            sine text ins here in within tge grapevine we dont know what sup
          </div>
          <div class="item">sine text in within and we will do it good</div>
          <div class="item">sine text ins here in within</div>
          <div class="item">sine</div>
        </div>
      </div>
    </main>
    <script defer src="main.js"></script>
  </body>
</html>
